<!DOCTYPE html>
<html>
	<head>
		<title>ProxyStore</title>
		<meta charset="utf-8">
		<link rel="icon" type="image/png" href="../assets/images/favicon-96.png" sizes="96x96">
		<link rel="stylesheet" href="../assets/bootstrap-4.4.1.min.css">
		<link rel="stylesheet" href="../assets/style.css" />
		<link rel="stylesheet" href="../assets/style-proxystore.css" />
		<meta name="author" content="ProxyStore">

		<meta name="description" content="Order goods from any retailer within the European Union. Pay in cash, bank transfer, Monero or Bitcoin. Collect goods at our store or we reship them within the EU.">
		<meta name="keywords" content="anonym, anonymous, anonymously, online, shop, shopping, monero, xmr, bitcoin, btc">


		{{.Head}}
	</head>
	<body>
		<header>
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<input type="checkbox" id="toggle-navbar">
				<div class="navbar-toggler">
					<label class="mb-0 navbar-toggler-icon" for="toggle-navbar"></label>
				</div>
				<div class="collapse navbar-collapse">
					<a class="navbar-brand equal-width-lg" href="https://dys2p.com">ProxyStore by dys2p</a>
					<div class="navbar-nav equal-width-lg d-flex justify-content-center">
						<a class="nav-item nav-link text-dark" href="index.html">ProxyStore</a>
						<a class="nav-item nav-link text-dark" href="warum.html">{{.Map "de" "Warum?" "en" "Why?"}}</a>
						<a class="nav-item nav-link text-dark" href="bestellservice.html">{{.Map "de" "Bestellservice" "en" "Order Service"}}</a>
						<a class="nav-item nav-link text-dark" href="ladensortiment.html">{{.Map "de" "Ladensortiment" "en" "Local Store"}}</a>
						<a class="nav-item nav-link text-dark" href="faq.html">FAQ</a>
					</div>
					<div class="equal-width-lg text-right">
						{{range .Locales}}<a class="btn btn-secondary{{if eq . $.Locale}} active{{end}}" href="../{{.}}/{{$.Path}}">{{Caps .}}</a> {{end}}
					</div>
				</div>
			</nav>
		</header>
		<main class="container pt-4">
			{{.Content}}
		</main>
		<footer class="footer">
			<div class="container">
				<a class="text-muted" href="kontakt.html"><strong>{{.Map "de" "Kontakt" "en" "Contact"}}</strong></a>
				<a class="text-muted" href="agb.html">{{.Map "de" "AGB" "en" "Terms and Conditions"}}</a>
				<a class="text-muted" href="datenschutz.html">{{.Map "de" "Datenschutz" "en" "Privacy policy"}}</a>
				<a class="text-muted" href="impressum.html">{{.Map "de" "Impressum" "en" "Imprint"}}</a>
				<a class="text-muted" href="widerrufsbelehrung.html">{{.Map "de" "Widerrufsbelehrung" "en" "Cancellation Policy"}}</a>
				<a class="text-muted" href="kontakt.html">{{.Map "de" "Fehler oder Hinweise? Schreib uns!" "en" "Got an idea or found an error? Drop us a note!"}}</a>
			</div>
		</footer>
	</body>
</html>
